agent-devops/.agent
/agent-devops
/mam-flix/azurite
mam-flix/fnPostDatabase/fnmamflix/local.settings.json
mam-flix/fnPostDatabase/fnmamflix/target/azure-functions/fnmamflix-20250128205041036/local.settings.json
/mam-flix/fnPostDatabase/fnmamflix/target
.DS_Store
/mam-flix/fnGetDatabase/fnmamflix/target
mam-flix/fnGetDatabase/fnmamflix/local.settings.json
/mam-flix/fnGetAllMovies/fnmamflix/target
mam-flix/fnGetAllMovies/fnmamflix/local.settings.json
/mam-flix/fnSaveMovie/fnmamflix/target
/mam-flix/fnGetMovieDetails/fnmamflix/target
mam-flix/fnGetMovieDetails/fnmamflix/local.settings.json
mam-flix/fnSaveMovie/fnmamflix/local.settings.json
